<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Gotchalive</title>
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/typewriter.js"></script>
    <script type="text/javascript" src="js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>

  <body>
    <div class="conversation-window">
      <img src="img/1475841510_Biometric_Authentication-14-red.png">
      <form>
        <input type="text" placeholder="Enter your message here">
        <input type="submit" value="Send">
        <input type="button" value="Back">
      </form>
    </div>
    <div class="main">
      <section class="brand">
        <img src="img/mobile-brand-gotchalive.png" alt="GOTCHALIVE">
      </section>
      <div class="bot-message">
        <img src="img/1475841575_Advertising__Media_Icons-31.png" alt="Bot:">
        <section id="bot">
        </section>
      </div>
      <div class="swiper-container">
        <div class="trailer-window">
        </div>
        <div class="background-blur"></div>
        <div class="swiper-wrapper">
        </div>
      </div>

      <div class="shiny-button">
        Speak to Host
      </div>
    </div>
    <footer>
      <section>Copyright © 2017 Gotchalive</section>
      <a href="https://www.themoviedb.org" target="_blank">
        <img src="img/408x161-powered-by-rectangle-blue.png"
        alt="Powered by TMDb"></a>
    </footer>
  </body>
<html>
